.team-card-slider-main-section {
  background-image: url(https://html.themeholy.com/webteck/demo/assets/img/bg/team_bg_2.png);
}

.feedback-card-slider {
  /* padding: 50px;
    margin: 50px; */
}
.team-card {
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  transition: 0.4s ease-in-out;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(8, 14, 28, 0.06);
  overflow: hidden;
}

.team-card-image img {
  overflow: hidden;
  width: 100%;
  /* padding: 26px 10px; */
  border-radius: 10px 10px 0 0;
  transition: 0.4s ease-in-out;
}

.team-card-content {
  padding: 26px 10px;
  transition: 0.4s ease-in-out;
}

.team-card-name h3 {
  font-family: "Barlow", sans-serif;
  color: #141d38;
  text-transform: none;
  font-weight: 700;
  line-height: 1.4;
  margin: 0 0 15px 0;
  font-size: 24px;
  margin-top: -0.32em;
}

.team-card-designation p {
  font-size: 14px;
  margin-bottom: -0.5em;
  transition: 0.4s ease-in-out;
  color: #684df4;
}

.team-card:hover .team-card-image img {
  transform: scale(1.08);
}

.team-card:hover .team-card-content {
  /* padding: 0; */
  background-color: #684df4;
  color: white;
}

.team-card:hover .team-card-name h3 {
  color: white;
}
.team-card:hover .team-card-designation p {
  color: white;
}
